CriptoWatcher.xcodeproj/project.xcworkspace/xcuserdata/mauriciochirino.xcuserdatad/UserInterfaceState.xcuserstate
CriptoWatcher.xcodeproj/xcuserdata/mauriciochirino.xcuserdatad/xcschemes/xcschememanagement.plist
